.App {
    text-align: center;
    /* background-color: blueviolet; */
}

.form {
    display: flex;
    text-align: center;
    padding: 2px;
    justify-content: center;
}

.form input {
    padding: 2px;
    margin: 10px;
}

button {
    background: black;
    color: white;
    padding: 10px;
    border: solid 2px black;
    display: inline;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: black;
}

.notes {
    margin: auto;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    padding: 10px;
    /* margin: 10px; */
}

td {
    border: 2px solid black;
    padding: 10px;
    /* display: flex; */
    /* text-align: center; */
    /* justify-content: center; */
}

.table {
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

body,
h2 {
    padding: 20px;
    font-weight: lighter;
}

h2 {
    color: green;
}